h1{
    color: #393989
}
h3{
    color: #8282DA
}
body{
    background-color: #9292ff ;
}
/**{
    border: #ccb5ff solid 
}*/
img{
    width:300px;
    height:300px;
    border: solid  midnightblue;
    border-radius: 30px;
}
.Header{
    display:flex;
    justify-content: space-between;
    margin: 40;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: midnightblue;

}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: orchid;
}
.item{
    display: flex;
    flex-direction: column;
    background-color: #D3DB99;
    margin: 40px;
    padding: 20px;
}
.footer{
    display: flex;
    justify-content: center;

}